{{!< default}}
<main class="content" role="main">
    {{#foreach posts}}
    <article class="preview">
        <header>
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></span>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>
    </article>
    {{/foreach}}
</main>
